<!DOCTYPE html>
<html>
<head>
    <title>ZABA GPT APP</title>
    <!-- Include Material Design CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Include Material Design JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
    .title {
			font-size: 3em;
			color: #8b0000;
			text-shadow: 2px 2px 0px #fff, 4px 4px 0px rgba(0,0,0,0.15);
			font-family: 'Roboto', sans-serif;
			text-align: center;
		}

		form {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1;
		}

    </style>
</head>
<body>
<div class="title">ZABA GPT</div>
<div class="column container">
	<div class="container">
		<form method="post">
			<label for="input-text">Project URL:</label>
			<input type="text" id="input-text" name="input-text">
			<br>
			<p>
				Commits:
			</p>
		  	<ul>
				{% for link in commit_links %}
				<li>
					<a href="{{ url_for('gpt_endpoint', value=link.value) }}">
						{{ link.label }}
					</a>
				</li>
				{% endfor %}
    		</ul>
			<div class="row">
				<p>
					Suggestions:
				</p>
				{{output_text}}
			</div>
			<br>
			<button type="submit">Submit</button>
    	</form>
	</div>
</div>
</body>
</html>